@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

article :is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Playfair Display', serif !important;
}

article :not(h1, h2, h3, h4, h5, h6) {
    font-family: 'EB Garamond', serif !important;
}
